.nav-container {
    border: 1px solid black;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.nav__list-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.nav__list-container > li {
    list-style-type: none;
    border: 1px black double;
    border-radius: 5px;
    padding: 5px; 
}

.nav__list-container > li:hover {
    background-color: rgb(47, 144, 255);
    -webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
}
